#container-1 {
  height: 900px;
}
#main-container {
  height: 850px;
  width: 90%;
  margin: 0px auto;
  padding: 10px 0px;
}
#nav-bar {
  height: 40px;
  width: 82%;
  margin: 10px auto;
  padding: 5px 2px;
}
.nav-items {
  display: none;
}
#social-connect {
  display: none;
}
/* //////////  */

/* header */
.nav-item-link {
  color: #000;
}

.header {
  background-color: white;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: sticky;
  width: 100%;
  z-index: 4;
  /* border: 2px solid green; */
}

.header ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
}

.menu li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
}

.menu li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
  color: red;
}

.header .logo {
  /* border: 2px solid red; */
  display: inline-flex;
  float: left;
  width: 250px;
  height: 34px;
  padding: 10px 20px;
  flex-direction: row;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  /* float: right; */
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: white;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: white;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}
/* menu btn */

.header .menu-btn:checked ~ .menu {
  display: block;
  position: absolute;
  margin-top: 500px;
  width: 100%;
  height: 410px;
  max-height: 410px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
/* //////////  */

/* HEAD CONTENT SECTION  */
#header-content {
  height: 92%;
  margin: 10px auto;
  width: 98%;
  flex-direction: column;
}
#area-1 {
  width: 78%;
  height: 20%;
  padding: 10px 10px;
}
#area-1-heading {
  font-size: 22px;
}
#area-1-h2 {
  margin: 10px auto;
  font-size: 45px;
}
#recruit-together {
  height: 0px;
  width: 0px;
  margin-top: 0px;
  display: none;
}
#area-2 {
  width: 65%;
  height: 70%;
  margin: 15px auto;
  padding: 10px 45px;
}
#area-2-h5 {
  margin-top: 10px;
}

/* COMPANIES SECTION */
#container-2 {
  height: 350px;
  width: 94%;
  flex-wrap: wrap;
  justify-content: center;
}
.box {
  width: 30%;
}

/* OUR FEATURES SECTION  */
#container-3 {
  height: 1100px;
  flex-wrap: wrap;
}
.features {
  height: 25%;
  width: 100%;
  margin: 0px 0px;
}
.features-head {
  font-weight: bold;
}
.about-features {
  padding: 10px 20px;
  font-size: 15px;
  width: 50%;
}
#consult-head {
  margin: 0px auto;
  text-align: center;
  font-size: 28px;
}
#consult-p {
  margin: 5px 0px;
  text-align: center;
}
.consult-btn-container {
  margin: 10px auto;
}

/* HIRE US SECTION  */
#container-4-h2 {
  font-size: 30px;
}
#container-4-p {
  width: 70%;
}
#container-4-btn-2 {
  height: 50px;
  width: 180px;
  font-size: 26px;
}

/* SERVICES SECTION  */
#container-5 {
  height: 2300px;
}
#container-5-h4 {
  font-size: 15px;
  letter-spacing: 0.8px;
}
#container-5-h1 {
  margin-bottom: 20px;
  font-size: 40px;
}
#items {
  margin: 5px auto;
  padding: 10px 50px;
  justify-content: center;
}
.item {
  height: 350px;
  width: 400px;
  padding: 50px 50px;
}
.item:focus {
  background-color: #edf5f8;
}

/* TEAMS SECTION  */
#container-6 {
  height: 1520px;
}
#container-6-h4 {
  font-size: 16px;
  margin-top: 40px;
  margin-bottom: 15px;
  letter-spacing: 2px;
}
#container-6-h2 {
  font-size: 45px;
}
#members {
  height: 1250px;
  flex-wrap: wrap;
}
.member {
  height: 400px;
  width: 60%;
}
.member-img-container {
  height: 120px;
  width: 120px;
  margin: 30px auto;
}
.member-img {
  height: 120px;
  width: 120px;
}
.member-name {
  font-size: 22px;
  font-family: "Roboto", sans-serif;
}
.member-role {
  font-size: 16px;
  letter-spacing: 1.6px;
}

/* SECTION TO DISPLAY THE NUMBER OF TIMES WE ARE CONTACTED  */
#container-7 {
  height: 900px;
  flex-wrap: wrap;
}
.blocks {
  width: 50%;
  height: 200px;
}
.blocks-img {
  margin-top: 30px;
}
.counter {
  font-size: 30px;
  margin-top: 30px;
}
.vl {
  display: none;
  height: 0px;
  margin-top: 50px;
}
.h-line {
  width: 10%;
}
.blocks:hover > .h-line {
  width: 15%;
}

/* SUPPORT SECTION  */
#container-8 {
  height: 800px;
  flex-wrap: wrap;
  background-color: white;
}
.part {
  background-color: #edf5f8;
  width: 100%;
  margin: 5px auto;
}
.part-img {
  height: 120px;
  width: 120px;
  margin-left: 50px;
}

/* FOOTER SECTION  */
footer {
  height: 1100px;
}
#footer-content {
  height: 1000px;
  flex-wrap: wrap;
}
.footer-content-elements {
  height: 24%;
  width: 80%;
}
#work-days {
  margin: 5px 10px;
}
#footer-element-2-h3 {
  margin: 10px 10px;
}
.helpful-links {
  margin: 10px 10px;
}
.h-link {
  width: 30%;
}
#footer-element-3 {
  height: 26%;
}
#footer-element-3-h3 {
  margin: 5px 10px;
}
.support-member {
  margin: 1px 0px;
  width: 50%;
}
.support-member-name {
  font-size: 18px;
}
#footer-element-4 {
  margin-left: 20px;
}
#brochure-img {
  width: 45%;
}
.brochure-download-btn {
  width: 45%;
  height: 55px;
}
