#nav-bar {
  height: 40px;
  width: 100%;
  margin: 10px 0px;
  padding: 10px 0px;
}
.header .menu-btn:checked ~ .menu {
  margin-top: 550px;
  height: 450px;
  max-height: 450px;
}

/* HEAD CONTENT SECTION  */
#header-content {
  height: 92%;
  margin: 10px auto;
  width: 100%;
  /* border: 2px solid red; */
}
#area-1 {
  width: 98%;
  height: 16%;
  padding: 10px 2px;
  /* border: 2px solid black; */
}
#area-1-heading {
  font-size: 16px;
  margin: auto 5px;
  /* border: 2px solid red; */
}
#area-1-h2 {
  margin: 10px auto;
  font-size: 27px;
  /* border: 2px solid red; */
  width: 99%;
}
#area-2 {
  width: 92%;
  height: 70%;
  margin: 10px auto;
  padding: 20px 10px;
}
#area-2-h5 {
  margin-top: 20px;
}

/* COMPANIES SECTION */
#container-2 {
  height: 600px;
  width: 90%;
  /* border: 2px solid red; */
}
.box {
  width: 70%;
  height: 95px;
  /* border: 2px solid black; */
}

/* OUR FEATURES SECTION  */
#container-3 {
  height: 1150px;
  /* border: 2px solid red; */
}
.features {
  height: 22%;
}
.features-head {
  margin-bottom: 5px;
}
.about-features {
  padding: 5px 5px;
  width: 75%;
}
#consult-head {
  margin-top: 15px;
  width: 80%;
}
#consult-p {
  margin: 5px 0px;
  width: 75%;
}

/* CTA SECTION  */
#container-4 {
  /*   border: 2px solid rebeccapurple; */
  height: 720px;
}
#container-4-h3 {
  margin-top: 50px;
  text-align: center;
  width: 80%;
}
#container-4-h2 {
  font-size: 28px;
  width: 90%;
  margin-bottom: 20px;
}
#container-4-p {
  width: 85%;
}

/* SERVICES SECTION  */
#container-5 {
  height: 2300px;
  /*   border: 2px solid green; */
}
#container-5-h1 {
  font-size: 28px;
}
#items {
  padding: 10px 20px;
}
.item {
  height: 350px;
  width: 100%;
  padding: 50px 35px;
}
.item-content-head {
  font-size: 24px;
  width: 100%;
  margin: 10px auto;
}
/* TEAMS SECTION  */
#container-6-h4 {
  font-size: 15px;
}
#container-6-h2 {
  font-size: 35px;
}
.member {
  width: 85%;
}

/* SECTION TO DISPLAY THE NUMBER OF TIMES WE ARE CONTACTED  */
#container-7 {
  height: 800px;
  /* border: 2px solid rebeccapurple; */
}
.blocks {
  width: 50%;
  height: 150px;
}
.blocks-img {
  margin-top: 25px;
}
.counter {
  font-size: 25px;
  margin-top: 25px;
}
.h-line {
  width: 20%;
}
.blocks:hover > .h-line {
  width: 30%;
}

/* SUPPORT SECTION  */
.part-img {
  height: 100px;
  width: 100px;
  margin-left: 25px;
}
.part-content {
  height: 65%;
  width: 60%;
  margin: auto 10px;
}
.part-content-h4 {
  padding-left: 0px;
}
.part-content-p {
  margin: 10px 10px;
  font-size: 15px;
  width: 95%;
  letter-spacing: 0.2px;
}

/* FOOTER SECTION  */
footer {
  height: 670px;
  /* border: 2px solid black; */
}
.footer-content-elements {
  width: 95%;
  height: 48%;
}
#company-logo-footer {
  margin: 10px auto;
  margin-left: 10px;
}
#company-moto-footer {
  margin: 5px 10px;
  font-size: 15px;
  width: 85%;
}
#work-days {
  margin: 10px 10px;
  font-size: 22px;
}
.working-days-table {
  font-size: 15px;
  width: 85%;
}
#footer-element-2-h3 {
  font-size: 22px;
}
.h-link {
  width: 40%;
}
.h-link a {
  font-size: 15px;
}
/* .support-member {
  width: 90%;
  margin: 2px 6px;
}
.support-member-details {
  width: 55%;
}
#footer-element-4 {
  margin-left: 0px;
}
#brochure-img {
  width: 65%;
  margin-left: 15px;
}
.brochure-download-btn {
  width: 65%;
  margin-left: 15px;
} */
.copywrite {
  text-align: center;
  width: 95%;
  font-size: 0.7rem;
}
