/* aileron-100 - latin */
@font-face {
  font-family: "Aileron";
  font-style: normal;
  font-weight: 100;
  src: url("assets/fonts/Aileron-UltraLight.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("assets/fonts/Aileron-UltraLight.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("assets/fonts/Aileron-UltraLight.woff2") format("woff2"),
    /* Super Modern Browsers */ url("assets/fonts/Aileron-UltraLight.woff")
      format("woff"),
    /* Modern Browsers */ url("assets/fonts/Aileron-UltraLight.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("assets/fonts/Aileron-UltraLight.svg#Aileron") format("svg"); /* Legacy iOS */
}
/* aileron-200 - latin */
@font-face {
  font-family: "Aileron";
  font-style: normal;
  font-weight: 200;
  src: url("assets/fonts/Aileron-Thin.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("assets/fonts/Aileron-Thin.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("assets/fonts/Aileron-Thin.woff2") format("woff2"),
    /* Super Modern Browsers */ url("assets/fonts/Aileron-Thin.woff")
      format("woff"),
    /* Modern Browsers */ url("assets/fonts/Aileron-Thin.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("assets/fonts/Aileron-Thin.svg#Aileron")
      format("svg"); /* Legacy iOS */
}
/* aileron-300 - latin */
@font-face {
  font-family: "Aileron";
  font-style: normal;
  font-weight: 300;
  src: url("assets/fonts/Aileron-Light.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("assets/fonts/Aileron-Light.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("assets/fonts/Aileron-Light.woff2") format("woff2"),
    /* Super Modern Browsers */ url("assets/fonts/Aileron-Light.woff")
      format("woff"),
    /* Modern Browsers */ url("assets/fonts/Aileron-Light.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("assets/fonts/Aileron-Light.svg#Aileron")
      format("svg"); /* Legacy iOS */
}
/* aileron-regular - latin */
@font-face {
  font-family: "Aileron";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/Aileron-Regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("assets/fonts/Aileron-Regular.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("assets/fonts/Aileron-Regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("assets/fonts/Aileron-Regular.woff")
      format("woff"),
    /* Modern Browsers */ url("assets/fonts/Aileron-Regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("assets/fonts/Aileron-Regular.svg#Aileron")
      format("svg"); /* Legacy iOS */
}
/* aileron-600 - latin */
@font-face {
  font-family: "Aileron";
  font-style: normal;
  font-weight: 600;
  src: url("assets/fonts/Aileron-SemiBold.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("assets/fonts/Aileron-SemiBold.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("assets/fonts/Aileron-SemiBold.woff2") format("woff2"),
    /* Super Modern Browsers */ url("assets/fonts/Aileron-SemiBold.woff")
      format("woff"),
    /* Modern Browsers */ url("assets/fonts/Aileron-SemiBold.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("assets/fonts/Aileron-SemiBold.svg#Aileron")
      format("svg"); /* Legacy iOS */
}
/* aileron-700 - latin */
@font-face {
  font-family: "Aileron";
  font-style: normal;
  font-weight: 700;
  src: url("assets/fonts/Aileron-Bold.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("assets/fonts/Aileron-Bold.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("assets/fonts/Aileron-Black.woff2") format("woff2"),
    /* Super Modern Browsers */ url("assets/fonts/Aileron-Black.woff")
      format("woff"),
    /* Modern Browsers */ url("assets/fonts/Aileron-Black.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("assets/fonts/Aileron-Bold.svg#Aileron")
      format("svg"); /* Legacy iOS */
}
/* aileron-800 - latin */
@font-face {
  font-family: "Aileron";
  font-style: normal;
  font-weight: 800;
  src: url("assets/fonts/Aileron-Black.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("assets/fonts/Aileron-Black.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("assets/fonts/inter-v11-latin-800.woff2") format("woff2"),
    /* Super Modern Browsers */ url("assets/fonts/inter-v11-latin-800.woff")
      format("woff"),
    /* Modern Browsers */ url("assets/fonts/inter-v11-latin-800.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("assets/fonts/inter-v11-latin-800.svg#Aileron") format("svg"); /* Legacy iOS */
}
/* aileron-900 - latin */
@font-face {
  font-family: "Aileron";
  font-style: normal;
  font-weight: 900;
  src: url("assets/fonts/Aileron-Heavy.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("assets/fonts/Aileron-Heavy.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("assets/fonts/Aileron-Heavy.woff2") format("woff2"),
    /* Super Modern Browsers */ url("assets/fonts/Aileron-Heavy.woff")
      format("woff"),
    /* Modern Browsers */ url("assets/fonts/Aileron-Heavy.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("assets/fonts/Aileron-Heavy.svg#Aileron")
      format("svg"); /* Legacy iOS */
}

:root {
  --clr-primary: hsla(222, 53%, 21%, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Aileron", sans-serif;
  color: var(--clr-primary);
}

.wrapper {
  padding-block: 4rem;
}

.subtext {
  font-size: 0.75rem;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 0.6px;
}

.subheading {
  font-size: 3rem;
  font-weight: 700;
  line-height: 56px;
}

.sub__subheading {
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 36px;
  margin: 0;
}

.contact-us__description {
  line-height: 24px;
  letter-spacing: 1px;
  font-weight: 200;
}

.bg__primary {
  background-color: var(--clr-primary);
}

/* ==== NAVIGATION ==== */

#nav-bar {
  height: 40px;
  width: 100%;
  padding: 5px 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  position: relative;
  z-index: 10;
}
#logo:hover {
  cursor: pointer;
}
.nav-items {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-weight: 600;

  margin-bottom: 0;
}
.nav-list-item {
  list-style-type: none;
}
.nav-item-link {
  color: white;
  margin: 0px 10px;
  font-size: 1rem;
  line-height: 24px;
  text-decoration: none;
}
.current-active {
  color: red;
}
.nav-item-link:hover {
  transition: 0.3s ease-in-out;
  color: red;
}
#social-connect {
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
  align-items: center;
  cursor: pointer;
  font-size: 18px;
}
#social-connect i:hover {
  transition: 0.3s ease-out;
  color: red;
}
.header .menu-icon,
.header .menu-btn {
  display: none;
}

@media screen and (max-width: 768px) {
  #nav-bar {
    background-color: var(--clr-primary);
  }
}

/* ==== HERO ===== */

.hero {
  padding-top: 6.5rem;
  padding-bottom: 8.75rem;

  position: relative;
  z-index: 10;
}

.hero__heading {
  font-size: 4.5rem;
  line-height: 86px;
  font-weight: 900;
  text-transform: capitalize;
  color: white;
  margin-bottom: 2.5rem;
}

.hero__btn {
  font-weight: 600;
  font-size: 1.375rem;
  line-height: 30px;
  color: white;
  text-decoration: none;
  gap: 1rem;
  transition: all ease-in-out 300ms;
}

.hero__btn:hover {
  gap: 2rem;
  color: white;
}

.hero-watermark {
  position: absolute;
  right: -15%;
  top: -10%;
}

@media screen and (max-width: 992px) {
  .hero-watermark {
    right: -30%;
  }
}

@media screen and (max-width: 768px) {
  .hero-watermark {
    display: none;
  }
}

@media screen and (max-width: 540px) {
  .hero {
    z-index: 1;
  }
}
/* ==== COMPANIES ==== */

.companies {
  padding-block: 1.5rem;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box .company__img {
  width: 150px;
  filter: grayscale(1);
  opacity: 0.5;
  transition: 0.2s ease;
}

.box .company__img.rumie {
  opacity: 0.85;
}

.box .company__img:hover {
  filter: none;
  opacity: 1;
  cursor: pointer;
}

/* ==== SERVICES ==== */

.icon {
  background-color: #f0f4ff;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 1.5em;
}

/* ==== PROJECTS ===== */

.all__projects {
  gap: 2.5rem;
}

.project__card {
  gap: 2rem;
}

.project__img {
  border-radius: 0.25em;
}

.project__subtext {
  font-size: 0.875rem;
  line-height: 22px;
  text-transform: uppercase;
  color: hsla(222, 40%, 43%, 1);
}

.project__btn {
  background-color: var(--clr-primary);
  color: white;
  padding: 10px 5px 10px 14px;
  text-decoration: none;
  border-radius: 0.25em;
  transition: ease-in-out 300ms;

  display: flex;
  align-items: center;
  justify-items: center;
}

.project__btn:hover {
  background: hsla(222, 60%, 27%, 1);
  color: white;
}

/* ==== TEAM ==== */

.team__card {
  padding: 1em 1.5em;
  transition: ease-in-out 300ms;
}

.team__card:hover {
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05);
}

.pr__img {
  border-radius: 0.25em;
  filter: grayscale(100%);
}

.pr__name {
  font-size: 1.5rem;
  line-height: 32px;
  color: #333333;
}

.pr__role {
  font-size: 0.76rem;
  line-height: 2px;
  color: #192a52;
  font-weight: 600;
}

.socials {
  gap: 1em;
}

.socials img {
  width: 32px;
  height: 32px;
}

/* =====  EXPERTIZE ==== */

.expertize {
  background-color: hsla(222, 58%, 90%, 1);
}

.tech-stacks {
  max-width: 900px;
  margin: 0px auto 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.technology {
  width: 280px;
  margin: 30px auto;
}

/* ==== CTA ===== */

.cta__container {
  position: relative;
  z-index: 10;
}

.cta__wrapper {
  max-width: 40rem;
}

.cta__btn {
  background-color: white;
  font-weight: 600;
  color: var(--clr-primary);
  padding: 0.75em 1.25em;
  border-radius: 0.25em;

  display: inline-block;
  margin-top: 1em;
  text-decoration: none;
  transition: ease-in-out 300ms;
}

.cta__btn:hover {
  background: hsla(0, 0%, 95%, 1);
  color: var(--clr-primary);
}

/* ==== FOOTER ==== */

.footer__container {
  position: relative;
  z-index: 10;
}

.footer__desc {
  max-width: 400px;
  font-weight: 200;
}

.footer__subheading {
  font-size: 1.5rem;
  line-height: 32px;
  font-weight: 600;
}

.footer__items {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}

.footer__link {
  text-decoration: none;
  font-weight: 300;
  color: white;
}

.social__icons {
  gap: 1em;
}

.footer-watermark-acorn {
  left: -10%;
  bottom: 0;
}

.footer-watermark-geometry {
  top: 0;
  right: 0;
}

@media screen and (max-width: 768px) {
  .footer-watermark-acorn {
    left: -20%;
  }
  .footer-watermark-geometry {
    right: -20%;
  }
}

@media screen and (max-width: 576px) {
  .footer-watermark-geometry,
  .footer-watermark-acorn {
    display: none;
  }
}

.copyright {
  font-size: 12px;
  font-weight: 200;
  letter-spacing: 0.8px;
}

.services {
  margin-top: 36px;
  margin-bottom: 24px;
}

.service__description {
  margin-top: 16px;
  letter-spacing: 0.6px;
  color: #000000c4;
  font-weight: 400;
}