.subheading {
  font-size: 2.25rem;
  line-height: 44px;
}

/* ==== NAVIGATION ==== */

.nav-items {
  width: 56%;
}

.nav-item-link {
  font-size: 15px;
}

/* ==== HERO ===== */

.hero__heading {
  font-size: 3.5rem;
  line-height: 72px;
}

/* ==== COMPANIES  ===== */

.all__companies {
  gap: 1rem;
}

.box {
  width: 30%;
}

.box .company__img {
  transition: 0.2s ease;
}

/* ==== SERVICES ===== */

.services__card {
  max-width: 400px;
}
