@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap'); /*variables*/

@font-face {
    font-family: 'Aileron';
    src: url('../fonts/Aileron-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Aileron';
    src: url('../fonts/Aileron-BlackItalic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'Aileron';
    src: url('../fonts/Aileron-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Aileron';
    src: url('../fonts/Aileron-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Aileron';
    src: url('../fonts/Aileron-Heavy.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Aileron';
    src: url('../fonts/Aileron-HeavyItalic.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'Aileron';
    src: url('../fonts/Aileron-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Aileron';
    src: url('../fonts/Aileron-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Aileron';
    src: url('../fonts/Aileron-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Aileron';
    src: url('../fonts/Aileron-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Aileron';
    src: url('../fonts/Aileron-SemiBold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Aileron';
    src: url('../fonts/Aileron-SemiBoldItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Aileron';
    src: url('../fonts/Aileron-Thin.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Aileron';
    src: url('../fonts/Aileron-ThinItalic.otf') format('opentype');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'Aileron';
    src: url('../fonts/Aileron-UltraLight.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Aileron';
    src: url('../fonts/Aileron-UltraLightItalic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/inter-v8-latin-300.eot'),
        url('../fonts/inter-v8-latin-300.eot?#iefix') format('embedded-opentype'),
        url('../fonts/inter-v8-latin-300.woff2') format('woff2'),
        url('../fonts/inter-v8-latin-300.woff') format('woff'),
        url('../fonts/inter-v8-latin-300.ttf') format('truetype'),
        url('../fonts/inter-v8-latin-300.svg#Inter') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: url('../fonts/inter-v8-latin-500.eot'),
        url('../fonts/inter-v8-latin-500.eot?#iefix') format('embedded-opentype'),
        url('../fonts/inter-v8-latin-500.woff2') format('woff2'),
        url('../fonts/inter-v8-latin-500.woff') format('woff'),
        url('../fonts/inter-v8-latin-500.ttf') format('truetype'),
        url('../fonts/inter-v8-latin-500.svg#Inter') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: url('../fonts/inter-v8-latin-600.eot'),
        url('../fonts/inter-v8-latin-600.eot?#iefix') format('embedded-opentype'),
        url('../fonts/inter-v8-latin-600.woff2') format('woff2'),
        url('../fonts/inter-v8-latin-600.woff') format('woff'),
        url('../fonts/inter-v8-latin-600.ttf') format('truetype'),
        url('../fonts/inter-v8-latin-600.svg#Inter') format('svg');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: url('../fonts/inter-v8-latin-700.eot'),
        url('../fonts/inter-v8-latin-700.eot?#iefix') format('embedded-opentype'),
        url('../fonts/inter-v8-latin-700.woff2') format('woff2'),
        url('../fonts/inter-v8-latin-700.woff') format('woff'),
        url('../fonts/inter-v8-latin-700.ttf') format('truetype'),
        url('../fonts/inter-v8-latin-700.svg#Inter') format('svg');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: url('../fonts/inter-v8-latin-regular.eot'),
        url('../fonts/inter-v8-latin-regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/inter-v8-latin-regular.woff2') format('woff2'),
        url('../fonts/inter-v8-latin-regular.woff') format('woff'),
        url('../fonts/inter-v8-latin-regular.ttf') format('truetype'),
        url('../fonts/inter-v8-latin-regular.svg#Inter') format('svg');
    font-weight: 400;
    font-style: normal;
}

:root {
    --clr-primary: hsla(222, 53%, 21%, 1);
    --White: #fff;
    --Black: #12141D;
    --primary: #192A52;
    --Gray-600: #475467;
    --Primary-Dark-Green: #071E0C;
    --Primary-Black: #12141D;
    --Secondary-Black: #363636;
    --Stroke: #E2E2E2;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Inter", sans-serif;
    color: var(--clr-primary);
  }
  
  .wrapper {
    padding-block: 4rem;
  }
  
  .subtext {
    font-size: 0.75rem;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
  }
  
  .subheading {
    font-size: 3rem;
    font-weight: 700;
    line-height: 56px;
  }
  
  .sub__subheading {
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 36px;
    margin: 0;
  }
  
  .contact-us__description {
    line-height: 24px;
    letter-spacing: 0.2px;
    font-weight: 300;
  }
  
  .bg__primary {
    background-color: var(--clr-primary);
  }

.footer-watermark-acorn {
    left: -1%;
    bottom: -24px;
}

.footer-watermark-geometry {
    top: 0;
    right: 0;
}

@media screen and (max-width: 768px) {
    .footer-watermark-acorn {
        left: -20%;
    }
    .footer-watermark-geometry {
        right: -20%;
    }
}

@media screen and (max-width: 576px) {
    .footer-watermark-geometry,
    .footer-watermark-acorn {
        display: none;
    }
}

.carousel__slide {
    justify-content: start;
    align-items: stretch;
}
